* {
  margin: 0;
  padding: 0;
}

.home-main-container {
  margin: 0rem auto 0rem auto;
  width: 90%;
}

.send-tweet-box {
  width: 100%;
  height: auto;
  border-bottom: 0.5px solid #f3f3f3;
  padding: 0;
}

.send-tweet-box-title {
  font-size: 1.3rem;
}
.new-tweet-input {
  width: 100%;
  border: none;
}
.new-tweet-input:focus {
  outline: none;
}

.all-tweets-box {
  border-bottom: 0.5px solid #f3f3f3;
}
.all-tweets-img-box {
  text-align: center;
  width: 100px;
}

.content-tweet {
  font-size: 0.95rem;
}

.img-profile {
  border-radius: 50%;
  width: 60%;
}
.img-profile-tweet {
  border-radius: 50%;
  width: 75%;
}

.liked {
  color: rgb(253, 41, 179);
  font-size: 1rem;
}
.unliked {
  font-size: 1rem;
}
.all-tweets-box-name {
  font-weight: bold;
  font-size: 1.1rem;
}

.profile-link {
  text-decoration: none;
  color: black;
}

.icon-box {
  height: 100vh;
  align-items: left;
}
@media (max-width: 991px) {
  .icon-box {
    align-items: center;
  }
}
