/* General styles */

.cursor-pointer {
  cursor: pointer;
}

/* Register */
.register-background {
  background-color: #074874;
}

.register-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-color-twitter {
  background-color: #1d9bf0 !important;
}

.submitBtn:hover {
  background-color: #1884cd;
}

.small-text {
  font-size: 0.95rem;
}
.small-2-text {
  font-size: 0.8rem;
}

.bolder-text {
  font-weight: 800;
}

.fs-4-5 {
  font-size: 1.35rem;
}

.background-color-twitter i.bi-twitter {
  align-self: flex-start;
}

.background-color-twitter h2 {
  align-self: flex-end;
}

@media only screen and (max-width: 1000px) {
  .register-form-column {
    padding: 1.2rem 1.8rem 1.2rem 1.8rem !important;
  }
}

@media only screen and (max-width: 1500px) {
  .register-form-column {
    padding: 2rem 1.8rem 2rem 1.8rem !important;
  }
}

/* home styles */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

.home-placeholder {
  font-size: 1.3rem;
  resize: none;
}

.home-placeholder:focus {
  outline: none;
}

.twitterSymbol {
  color: #1d9bf0;
  font-size: 1.8rem !important;
}

.profile-left-partial {
  font-size: 1.1rem;
}

.btn-home {
  background-color: #1d9bf0;
}

.btn-home:hover {
  background-color: #1884cd;
}

.btn-logout {
  background-color: #dc3545;
  color: white;
  border-color: #dc3545;
  border-radius: 15px;
}

.btn-logout-md {
  background-color: #dc3545;
  color: white;
  border-color: #dc3545;
  border-radius: 50%;
}
.btn-home-md {
  background-color: #1d9bf0;
  color: white;
  border-color: #1d9bf0;
  border-radius: 50%;
}

.btn-logout:hover {
  background-color: #b82736;
}

.left-partial {
  position: sticky;
  border-right: 0.5px solid #f3f3f3;
  padding-right: 1rem;
  top: 0;
  height: 100vh;
}
.right-partial {
  position: sticky;
  border-left: 0.5px solid #f3f3f3;
  padding-left: 2.1rem;
  top: 0;
  height: 100vh;
}

.central-box {
  height: fit-content;
  border: 1px solid #f3f3f3;
}

.home-central-navbar {
  position: sticky;
  top: 0;
  padding: 0.8rem 1rem 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 10vh;
  background-color: #f7f9f9ae;
  border-bottom: 1px solid #f3f3f3;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.navbar-icon-size {
  width: 1.8rem;
}

.navbar-label-size {
  font-size: 1.25rem;
  padding-top: 0.1rem;
}

.news-box {
  background-color: #f7f9f9;
  border-radius: 15px;
  border: 1px solid #f7f9f9;
  width: 350px;
}

.news-box-p1 {
  font-size: 13px;
  font-weight: 300;
  color: #647788;
}
.news-box-p2 {
  font-size: 16px;
  color: black;
}
.news-box-title {
  font-size: 20px;
  font-weight: 800;
}

.follow-box {
  background-color: #f7f9f9;
  border-radius: 15px;
  border: 1px solid #f7f9f9;
  width: 350px;
}

.follow-title {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.follow-subtitle {
  font-size: 0.9rem;
}

.btn-hardcode {
  width: 75px;
  height: 35px;
  font-weight: 500;
  background-color: #1d9bf0;
  font-size: 0.85rem;
}

.btn-hardcode:hover {
  background-color: #1884cd;
}

.new-tweet-box,
.tweet-list {
  border-bottom: 1px solid #f3f3f3;
  padding: 0 0.8rem 0 0.8rem;
}

.title-tweet-box {
  font-size: 1.2rem;
}

.tweetlist-error {
  background-color: #dc3546a3;
}

.tweet-content {
  font-size: 0.9rem;
}

.image-hardcode-create {
  width: 80%;
}

.image-hardcore-aside {
  width: 40px;
  height: 40px;
}

.home-tweet-profile-img {
  width: 55%;
}

.heart-likes,
.number-likes {
  color: #f91894;
  transition: color 0.2s ease-in-out;
}

/* profile styles */

.profile-central-navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 7vh;
  z-index: 1;
  border: 0px 2px 2px 2px;
  border-color: #f3f3f3;
  background-color: #ffffff9e;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.profile-main-section {
  border-bottom: 1px solid #f3f3f3;
}

.profile-banner {
  height: 25vh;
}

.profile-photo {
  width: 26%;
  border: #ffffff 3px solid;
  /* max-height: 100%; */
  position: absolute;
  top: 22%;
}

.follow-btn-medium {
  width: 6rem;
  background-color: #1d9bf0;
  font-size: 0.98rem;
}

.follow-btn-medium:hover {
  background-color: #1884cd;
}

.following-btn-medium {
  background-color: #ffffff;
  border: #e8e8e8 1px solid;
  font-size: 0.98rem;
}

.following-btn-medium:hover {
  background-color: #e5e5e5;
}

/* followers/following styles */

/*.followlist-central-box {
  height: fit-content;
  width: 40vw;
  margin: 0rem 20vw 0rem 26vw;
  border: 1px solid #f3f3f3;
}*/

.follow-tweet-profile-img {
  width: 80%;
}

.follower-name {
  font-size: 1.4rem;
}

.link-follow {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

.active-section-border-follow {
  position: absolute;
  border-bottom: #1d9bf0 3.5px solid;
  width: 27%;
  bottom: -68%;
  left: 37%;
}

.active-section-border-tweet {
  border-bottom: #1d9bf0 3.5px solid;
  width: 24%;
}

/* Responsive */

@media (min-width: 992px) {
  .responsive-lg {
    display: none;
  }
}

@media (max-width: 991px) {
  .responsive-md {
    display: none;
  }
}

@media (max-width: 768px) {
  .responsive-sd {
    display: none;
  }
}

/* Left Partial */

.icon-responsive {
  text-align: center;
}
